.skeleton {
    background-color: #e9ecef;
    color: #e9ecef;
    border-radius: 0.25rem;
    width: 100%;
}

.skeleton-answer-content {
    height: 5em;
}

.skeleton-answer-footer {
    height: 1.5em;
    margin-left: 1.25em;
    margin-bottom: 1em;
    width: calc(100% - 2.5em);
}

.skeleton-score {
    border-radius: 50%;
    height: 3rem;
    width: 3rem;
    margin-bottom: 1em !important;
}

.skeleton-vote {
    height:50%;
    margin-bottom: 1em !important;
    width: 3rem;
}