body {
    background: #fff;
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
    margin: 0;
    overflow-x: hidden;
    color: #67757c;
    font-weight: 300;
    min-width: 320px;
}

body > header > #navbar {
    height: 60px;
}

body > main {
    padding-top: 60px;
}

main aside > div {
    position: sticky;
    top: 10%;
}

section#question{
    z-index: 1020;
    position: sticky;
    top: 60px;
}

h1, h3 {
    font-family: Futura, "Trebuchet MS", Arial, sans-serif;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
}

.ml-auto-sm {
    width: 100%;
}

@media (min-width: 576px) {
    .ml-auto-sm{
        width: auto;
        margin-left: auto !important;
    }

    .dropdown-menu-right {
        right: 0;
        left: auto !important;
    }
}

.btn-signin {
    width: 100%;
    padding-top: 0;
    padding-bottom: 0;
    height: 32px;
    margin: 0.2em auto;
}

.btn-social {
    display: flex;
    flex-flow: row nowrap;
    white-space: nowrap;
    align-items: center;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 0;
}

.btn-social > :first-child {
    margin-left: 0.2em;
    margin-right: 0.2em;
    font-size: 24px;
}

.btn-social > div {
    line-height: 32px;
    height: 32px;
    padding-left: 0.5em;
    border-left: 1px solid rgba(0,0,0,0.2);
}

.btn-primary {
    color: #fff;
    /* background-color: #20c997;
    border-color: #20c997; */
    background-color: #208bc9d2;
    border-color: #208bc9d2;
}

.img-profile {
    margin-top: calc(-1.25rem - 50px);
    -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    width: 100px;
    height: 100px;
    background-size: cover;
    background-position: center;
}

.img-profile-big {
    margin-top: calc(-1.25rem - 120px);
    -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    width: 240px;
    height: 240px;
    background-size: cover;
    background-position: center;
    border: 7px solid white;
}

.bg-profile {
  padding-bottom: 56.25%;
  background-size: cover;
  background-position: center;
}

.comments {
    border-radius: 1em;
}

.big-icon {
    font-size: 1.7em;
}

.big-icon:hover {
    color: #445259;
}

.tab-pane a {
    color: inherit;
}

.tab-pane > a:hover {
    color: inherit;
    text-decoration: inherit;
}

.tab-pane > .card {
    transition: box-shadow 0.2s;
}

.tab-pane > .card:hover {
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.07), 0 0 20px 0 rgba(0, 0, 0, 0.07);
}

.sweet-grey {
    background: #e9ecef; /* linear-gradient(#e9ecef, #e9ecef); */
}

.own-question:hover {
    background: #f8f9fa;
}

.dis-badge {
    color: #707070;
}

#question-body {
    overflow: hidden;
    transition: max-height 1s;
    max-height: 70vh;
}

#ask-sign-in {
    transition: max-height 2s, margin 1s;
    max-height: 0;
    overflow: hidden;
    border-width: 0;
}

#ask-sign-in.active {
    max-height: 400px;
    border-width: 1px;
    margin-bottom: 1rem;
}

#jumbotron_about {
    background-image: url("../img/highway_landscape_blurred.jpg");
    background-size: cover;
}